body
{
    margin: 0;
    font-family: "Roboto", sans-serif;
}

header
{
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    padding: 10px 156px 10px 156px;
}

.hero
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    padding: 10px 156px 10px 156px;
}

.hero-text
{
    font-size: 18px;
    color: #E5E7Eb;
}

.hero-button
{
    background-color: #3882F6;
    border-radius: 10px;
    height: 30px;
    width: 150px;
    color: white;
    font-size: 16px;
    border-style: none;
}

.welcome-info
{
  
    width: 50%;
    color: #f9faf8;
    font-size: 24px;
}

.daughters-info
{
    padding: 10px 156px 10px 100x;
    margin: 80px;
}

.d-say
{
    text-align: center;
}

.card-contain
{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
   
}

.card
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    block-size: fit-content;
    flex: 1;

}

.daughter-d
{
    text-align: center;
}
.image
{
    width: 50%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-contain
{
    padding: 10px 156px 10px 156px;
    background-color: #E5E7Eb;
}

.quote-text
{
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.quoter
{
    display: block;
    margin-left: 0;
}

.action-call
{
    margin-top: 80px;
    padding: 10px 156px 10px 156px;
}

h2
{
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}
ul
{
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 0;
}

li
{
    list-style-type: none;
    font-size: 18px;
    color: #e5e7eb;
}